/* LoadingSpinner.css */
.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f8f8; /* Set a background color for the loading spinner */
  }
  
  .spinner {
    border: 6px solid rgba(0, 0, 0, 0.1);
    border-top: 6px solid #3498db; /* Change the color to match your theme */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  