@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'PT Sans', sans-serif;
    line-height: 1.6;
  }
  
  /* Improve mobile view padding */
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  /* Improve mobile view padding for sections */
  section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  /* Mobile view adjustments for the form */
  input,
  textarea,
  button {
    width: 100%;
  }